name: djanjo-app

on:
  push:
    branches:
      - dev
      - main
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - dev
      - main

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_UNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: |
            basil6789/djapp:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: ssh to the server
        uses: appleboy/ssh-action@v1.0.3

        with:
         host: ${{ secrets.HOST }}
         username: ${{ secrets.HOST_NAME }}
         key: ${{ secrets.KEY }}
          
         script: |
           echo "pull latest image"
           docker pull ${{ secrets.DOCKER_UNAME }}/djapp:latest

           docker run -dp 81:3000 --name djapp ${{ secrets.DOCKER_UNAME }}/djapp:latest
           docker stop djapp || true
           docker rm djapp || true
