name: django-app

on:
  push:
    branches:
      - dev
      - main
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - dev
      - main

jobs:

  

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set version
        run: |
          VERSION="1.0.0"
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "version: \"$VERSION\"" > version.yaml
          ls -l

      - name: Debug version
        run: echo "VERSION is ${{ env.VERSION }}"

      - name: Upload Version artifact
        uses: actions/upload-artifact@v4
        with:
          name: version
          path: version.yaml

  build:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download version artifact
        uses: actions/download-artifact@v4
        with:
          name: version
          path: .

      - name: Load version
        run: |
          VERSION=$(grep 'version:' version.yaml | cut -d'"' -f2)
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "Using version $VERSION"

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Package app artifact
        run: |
          ARTIFACT_NAME="djangoapp-${VERSION}-${GITHUB_SHA:0:7}.tar.gz"
          mkdir -p artifacts artifact-temp
          shopt -s extglob
          cp -r !(artifact-temp|artifacts|.git|.github) artifact-temp/
          tar -czf "artifacts/$ARTIFACT_NAME" -C artifact-temp .
          rm -rf artifact-temp
          ls -R artifacts

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: artifacts/

  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download version artifact
        uses: actions/download-artifact@v4
        with:
          name: version
          path: .

      - name: Load version
        run: |
          VERSION=$(grep 'version:' version.yaml | cut -d'"' -f2)
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Download app artifact
        uses: actions/download-artifact@v4
        with:
          name: app-build
          path: .

      - name: Extract app artifact
        run: |
          mkdir -p app
          tar -xzf djangoapp-*.tar.gz -C app
          ls -R app

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_UNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: basil6789/djapp:latest

  Build_and_push:
    needs: build
    name: Build and push to ECR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
    
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, Tag, and Push the Image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: djangoapp
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Verify AWS identity
        run: aws sts get-caller-identity
  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: SSH to the server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_NAME }}
          key: ${{ secrets.KEY }}
          script: |
            docker stop djapp || true
            docker rm djapp || true
            docker pull ${{ secrets.DOCKER_UNAME }}/djapp:latest
            docker run -d -p 81:3000 --name djapp ${{ secrets.DOCKER_UNAME }}/djapp:latest
